/* START: Navbar */
.main-menu {
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
    background-color: #00000099;
    position: fixed;
    width: 100%;
}

.logo-section {
    margin: 0 1rem 0 0;
}

.logo-letter {
    position: relative;
    top: 5px;
}

.categories-search-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.categories > ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.category-a {
    color: #FFF;
    text-decoration: none;
    padding: 50px 15px;
}

.category-a:hover {
    background-color: #0080ff;
    color: #FFF;
    font-weight: bold;
}

.menu-searchbox-sign-out {
    display: flex;
}

.search-box {
    height: 40px;
    width: 12rem;
    margin: 0 1.5rem;
    border-style: unset;
    border-radius: 5px;
    padding: 15px;    
}

.search-box:focus {
    outline: 0px;
}

.sign-out-button {
    width: 6rem;
    background-color: #0080ff;
    color: #FFF;
    border: 0;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 1px 0 rgba(0,0,0,.55);
    cursor: pointer;
}

.sign-out-button:hover {
    background-color: #42a1ff;
}

/* END: Navbar */ 

/* START: Header */
.header {
    height: 100vh;
    background-image: url(../img/matrix.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.header-movie-info{
    max-width: 35vw;
    margin-left: 3vw;
}

.header-movie-title {
    font-size: 3rem;
}

.header-movie-sinopsis {
    font-size: 1.2rem;
}

.header-movie-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-movie-buttons a {
    text-decoration: none;
    font-weight: bold;
}

.header-buttons { 
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: .2rem;
    color: #0080ff;
    box-shadow: 2px 3px gray;
}

.header-movie-big-buttons {
    flex: 1;
}

.play-movie-button {
    background-image: url(../img/icon/play-button.png);
    background-size: 1.2rem;
    background-position: .5rem .5rem;
    padding: .5rem .8rem .5rem 2.7rem;
}

.add-movie-button {
    background-image: url(../img/icon/add-button.png);
    background-size: 1.2rem;
    background-position: .5rem .5rem;
    padding: .5rem .8rem .5rem 2.7rem;
    margin-left: 1.5rem;
}

.header-movie-likes-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 0.4rem;
}

.like-movie-button {
    background-image: url(../img/icon/like.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 2.3rem;
    width: 2.3rem;
    height: 2.3rem;
}

.like-movie-button:hover {
    background-image: url(../img/icon/like_h.png);
}

.dislike-movie-button {
    background-image: url(../img/icon/dislike.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 2.3rem;
    width: 2.3rem;
    height: 2.3rem;
    margin: 0 1.5rem;   
}

.dislike-movie-button:hover {
    background-image: url(../img/icon/dislike_h.png);
}

/* END: Header */ 

/* START: Main*/

/* END: Main*/

/* START: Footer*/
.footer {
    display: flex;
    padding: 3rem 2rem;
}

.footer aside {
    padding: 0 3rem;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: #FFF;
}

.footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.footer h2 {
    margin-bottom: 0.5rem;
}

.footer hr {
    width: 2rem;
    margin: 0 0 .8rem 0;
    border: 0;
    border-top: .1rem solid;
}

.footer-about, .footer-links, .footer-social {
    flex: 1;
}

.links-list-container {
    display: flex;
    justify-content: space-between;
}

.footer-links li {
    margin-bottom: .8rem;
}

.social-list {
    display: flex;
}

.newsletter-container {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.newsletter-input {
    height: 40px;
    width: 14rem;
    margin: .8rem 1.5rem .8rem 0;
    border-style: unset;
    border-radius: 5px;
    padding: 15px;    
}

.newsletter-submit {
    width: 6rem;
    height: 2rem;
    background-color: #0080ff;
    color: #FFF;
    border: 0;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 1px 0 rgba(0,0,0,.55);
    cursor: pointer;
}

.newsletter-submit:hover {
    background-color: #42a1ff;
}
/* END: Footer*/