/* START: HEADER */

.main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.main > section {
    width: 100%;
    height: 100%;
    /* margin-right: 1.5rem;
    margin-left: 1.5rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.main-video-container {
    width: 100%;
    flex-basis: 50%;
    position: relative;
    /* background-color: red; */
    margin-top: 4rem;
    z-index: -1;
}

.main-video-container > video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-movie-info {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    flex-basis: 50%;
}

.main-movie-title {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: .3rem;
    font-size: 1.8rem;
}

.year-score-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: .5rem;
}

.main-movie-score {
    vertical-align: middle;
}

.score-star {
    width: .9rem;
    vertical-align: middle;
}

.main-movie-sinopsis {
    font-size: .9rem;
    text-align: justify;
    margin: 0;
}

.movie-stars-container {
    margin: 0;
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.movie-stars-icon {
    width: 2.3rem;
    flex: 0 0 10%;
    margin-right: 1rem;
}

.main-movie-stars {
    font-weight: normal;
    flex: 1;
}

.main-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-buttons a {
    text-decoration: none;
}

.main-item {
    background-color: var(--letter-color);
    background-repeat: no-repeat;
    border-radius: .2rem;
    color: #0080ff;
}


.add-movie-button {
    background-image: url(../img/icon/add-button.png);
    background-size: 1rem;
    background-position: .3rem .55rem;
    padding: .5rem .5rem .4rem 1.7rem;
    padding-left: 1.7rem;
    font-size: .9rem;
}

.play-movie-button {
    background-image: url(../img/icon/play-button.png);
    background-size: 1rem;
    background-position: .5rem .4rem;
    padding: .4rem .6rem .3rem 2rem;

    font-weight: bold;
}

.like-buttons {
    display: block;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
}

.like-movie-button {
    background-color: unset;
    background-image: url(../img/icon/like_h.png);
}

.dislike-movie-button {
    background-color: unset;
    background-image: url(../img/icon/dislike_h.png);
}

/* END: HEADER */

/* Media queries */

/* ~Tablet */
@media all and (min-width: 480px) {
    /* START: HEADER */

    .main {
        margin-left: 30vw;
    }

    .main-buttons {
        justify-content: space-evenly;
    }

    /* END: HEADER */
}


/* ~Desktop */
@media all and (min-width: 839px) {

    /* START: HEADER */

    .main {
        margin-left: 0;
        height: 100vh;
        align-items: center;
    }

    .main > section {
        align-items: flex-start;
        max-width: 35vw;
        margin-left: 3rem;
    }

    .main-movie-title {
        letter-spacing: 1rem;
        margin-right: unset;
    }
    
    .sinopsis-cite {
        text-align: start;
    }

    .main-buttons {
        justify-content: flex-start;
    }

    .add-movie-button {
        padding-right: .7rem;
        font-size: 1rem;
    }

    .play-movie-button {
        margin-left: 1rem;
        padding-right: 1rem;
        padding-left: 2.3rem;
        background-size: 1.2rem;
        background-position-x: .8rem;
    }

    .like-movie-button {
        background-image: url(../img/icon/like.png);
        margin-left: 3rem;
        margin-right: 1rem;
    }

    .like-movie-button:hover {
        background-image: url(../img/icon/like_h.png);
    }
    
    .dislike-movie-button {
        background-image: url(../img/icon/dislike.png);
    }
    
    .dislike-movie-button:hover {
        background-image: url(../img/icon/dislike_h.png);
    }

    /* END: HEADER */    
}