@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

@font-face {
    src: url('../fonts/BebasNeue-Regular.ttf');
    font-family: Bebas-Neue;
}

* {
  font-family: Quicksand;
}


/* START: Background */

body {
    background-color: #272424;
    color: #fff;
}

/* END: Background */

/* START: Logo section */

.logo-section {
    display: flex;
    justify-content: center;
    color: #0080ff; /* --  color: #1E368A; */
    text-shadow: 3px 3px #000000;
    user-select: none;
    margin: 4.5rem 0 3rem 0;
}

.logo-letter {
    font-family: Bebas-Neue;
    margin: 0;
    font-size: 5rem;
    letter-spacing: 0.2rem;
}
/* Give letters a Netflix style (test it)...
.letter-t-logo {   
    font-size: 100px;
}
.letter-e-logo {   
    font-size: 90px;
    margin-top:2px;
}
.letter-c-logo {    
    font-size: 85px;
    margin-top:2px;
}
.letter-h-logo {    
    font-size: 80px;
    margin-top: 4px;
}
.letter-i-logo {    
    font-size: 85px;
    margin-top:2px;
}
.letter-x-logo {   
    font-size: 100px;
}
*/

/* END: Logo section */