.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    margin: 1.5rem;
}

.sign-in-title {
    margin: 2rem 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form fieldset {
    position:relative;
    width: 80%;
    border: none;
    margin: 0;
    padding: 0;
}

.form-text-input {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-bottom: 1px solid var(--letter-color);
    padding-left: .8rem;
    color: #fff;
    background-color: transparent;
    margin: 1.5rem 0 0 0;
}

.form-text-input:focus {
    outline: 0px;
}

form fieldset label {
    position: absolute;
    top: 2.6rem;
    left: .9rem;
    font-weight:300;
    color: gray;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transition:  translate3d(0, 0, 0);
    -o-transition:  translate3d(0, 0, 0);
    -ms-transition:  translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

form fieldset input:valid + label, 
form fieldset input:focus + label {
    color: var(--hover-color);
    font-weight: bold;
    font-size: .8rem;
    -webkit-transform: translate3d(0, -1.5rem, 0);
    -moz-transition: translate3d(0, -1.5rem, 0);
    -o-transition: translate3d(0, -1.5rem, 0);
    -ms-transition: translate3d(0, -1.5rem, 0);
    transform: translate3d(0, -1.5rem, 0);
}

.login-extra {
    display: inline-flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.login-extra > div {
    font-size: .9rem;
}

.login-extra > a {
    font-size: .9rem;
    text-decoration: none;
    color: var(--main-color);
    font-style: italic;
    cursor: pointer;
}

.login-extra > a:hover {
    color: var(--hover-color);
}

.remember-item {
    vertical-align: middle;
}

.submit-button {
    width: 80%;
    padding: 1rem;
    margin: 5rem 0 1rem 0;
    background-color: var(--main-color);
    color: var(--letter-color);
    border: 0;
    text-align: center;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--hover-color);
}


/*Media queries*/


/* ~Mobiles with landscape orientation */
@media all and (max-width: 640px) and (orientation: landscape) {
    .sign-in-title {
        margin: 7rem 0 1rem 0;
    }
}

/* ~Tablet */
@media all and (min-width: 480px) {
    .logo-letter {
        font-size: 7rem;
    }

    .sign-in-title {
        font-size: 2rem;
    }

    .form-text-input, 
    .login-extra > div,
    .login-extra > a {
        font-size: 1rem;
    }

    .submit-button {
        font-size: 1.2rem;
    }
}

/* ~Desktop */
@media all and (min-width: 839px) {
    .logo-letter {
        font-size: 8rem;
    }
    
    form {
        width: 60%;
    }

    .form-text-input {
        height: 3.25rem;
    }
}

/* ~Large Desktop */
@media all and (min-width: 1024px) {
    form {
        width: 45%;
    }
}