/* Background linear-gradient */

html {
    height: 100%;
}

body {
    height: 100%;
}

.background {
    height: 100%;
    background-image: linear-gradient(#272424 3%, #ffffff 250%);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Needed if we use scroll down */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Logo section */

.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;    
    color: #0080ff; /* --  color: #1E368A; */
    text-shadow: 3px 3px #000000;
    user-select: none;
}

.logo-letter {
    font-family: Bebas-Neue;
    align-items: center
}

.letter-t-logo {   
    font-size: 100px;
}
.letter-e-logo {   
    font-size: 90px;
    margin-top:2px;
}
.letter-c-logo {    
    font-size: 85px;
    margin-top:2px;
}
.letter-h-logo {    
    font-size: 80px;
    margin-top: 4px;
}
.letter-i-logo {    
    font-size: 85px;
    margin-top:2px;
}
.letter-x-logo {   
    font-size: 100px;
}


/* Login container section */
.login-container {
    /* Color base: rgba(10, 14, 27, 0.7);*/
    background: rgba(10, 14, 27, 0.7);
    border-radius: 5px;
    height: 450px;
    width: 400px;
    margin: 70px;
    box-shadow: 0px 0px 70px #272424;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.login-form {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    width: 75%;
    margin: 20px 30px 30px 30px;
}

h1 {
    margin-top: 50px;
    color: #FFF;
}

.form-input {
    height: 40px;
    width: 100%;
    border-style: unset;
    border-radius: 5px;
    margin: 30px 0px 0px 0px;
    padding: 15px;    
}

.form-input:focus {
    outline: 0px;
}

.login-extra {
    width: 100%;
    margin-top: 20px;
}

.form-remember {
    vertical-align: middle;
}

.login-extra > div {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    font-size: 13px;
    color: #FFF;
}

.login-extra > a {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: #0080ff ;
}

.login-extra > a:hover {
    color: #59acff;
}

.form-submit-button {
    width: 100%;
    height: 48px;
    background-color: #0080ff;
    color: #FFF;
    border: 0;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 1px 0 rgba(0,0,0,.55);
    margin-top: 50px;
    cursor: pointer;
}

.form-submit-button:hover {
    background-color: #42a1ff;
}