
html {
    height: 100%;
}

body {
    height: 100%;
}

/* Background linear-gradient */

.background {
    height: 100%;
    background-image: linear-gradient(#131212 10%, #ffffff 360%);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Needed if we use scroll down */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Logo section */

.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;    
    color: #1E368A;
    text-shadow: 3px 3px #000000;
}

.logo-letter {
    font-family: Bebas-Neue;
    align-items: center
}

:root {
    --logo-leter-rate: 1px;
}

.letter-t-logo {   
    font-size: 100px;
}
.letter-e-logo {   
    font-size: 90px;
    margin-top:2px;
}
.letter-c-logo {    
    font-size: 85px;
    margin-top:2px;
}
.letter-h-logo {    
    font-size: 80px;
    margin-top: 4px;
}
.letter-i-logo {    
    font-size: 85px;
    margin-top:2px;
}
.letter-x-logo {   
    font-size: 100px;
}


/* Login container section */
.login-container {
    background: #60e0b0;
    height: 450px;
    width: 400px;
    margin: 70px;
}
